<form method="post" class="form-horizontal" id="attachOptions">
    <div class="box-body">
        <div class="form-group">
            <label class="col-lg-2 col-sm-4 control-label">存储位置：</label>
            <div class="col-lg-4 col-sm-8 control-radio">
                <div class="pretty p-default p-round" style="padding-top:7px">
                    <input type="radio" name="attach_loc" value="server" {{if eq .m.Position 1}}checked=""{{end}}>
                    <label>本地服务器</label>
                    <input type="radio" name="attach_loc" value="qiniu" {{if eq .m.Position 2}}checked=""{{end}}>
                    <label>七牛云</label>
                </div>
            </div>
        </div>
        <!-- 原生设置 -->
        <div class="server-options" style="display: none">

        </div>

        <!-- 七牛云 -->
        <div class="qiniu-options" style="">
            <div class="form-group">
                <label for="qiniuDomain" class="col-lg-2 col-sm-4 control-label">域名：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuDomain" name="qiniu_domain"
                           value="{{.m.Positionurl}}">
                </div>
            </div>
            <div class="form-group">
                <label for="qiniuAccessKey" class="col-lg-2 col-sm-4 control-label">Access
                    Key：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuAccessKey"
                           name="qiniu_access_key"
                           value="{{.m.Accesskey}}">
                </div>
            </div>
            <div class="form-group">
                <label for="qiniuSecretKey" class="col-lg-2 col-sm-4 control-label">Secret
                    Key：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuSecretKey"
                           name="qiniu_secret_key"
                           value="{{.m.Secretkey}}">
                </div>
            </div>
            <div class="form-group">
                <label for="qiniuBucket" class="col-lg-2 col-sm-4 control-label">Bucket：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuBucket" name="qiniu_bucket"
                           value="{{.m.Bucket}}">
                </div>
            </div>
            <div class="form-group">
                <label for="qiniuSmallUrl" class="col-lg-2 col-sm-4 control-label">处理策略：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuSamllUrl"
                           name="qiniu_small_url" value="{{.m.Strategy}}">
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-primary btn-sm "
                onclick="attachOptions()">保存
        </button>
    </div>
</form>