<!-- 验证插件 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<script>

    //
    function GeneralOptions() {

        var $thisForm = $('#GeneralOptions');
        var url = '{{ urlfor "SystemController.Save"}}/general';
        var data = $thisForm.serialize();
        $.sdpost(url, data, function (re) {
            if (re.code === 0) {
                layer.msg(re.msg, {icon: 1, title: '成功', time: 1000}, function () {
                    window.location.reload();
                });
            } else {
                layer.alert(re.msg, {icon: 2, title: '失败'})
            }
        });
        return false;

    }

    //
    function seoOptions() {

        var $thisForm = $('#seoOptions');
        var url = '{{ urlfor "SystemController.Save"}}/seo';
        var data = $thisForm.serialize();
        $.sdpost(url, data, function (re) {
            if (re.code === 0) {
                layer.msg(re.msg, {icon: 1, title: '成功', time: 1000}, function () {
                    window.location.reload();
                });
            } else {
                layer.alert(re.msg, {icon: 2, title: '失败'})
            }
        });
        return false;

    }
    //
    function articleOptions() {

        var $thisForm = $('#articleOptions');
        var url = '{{ urlfor "SystemController.Save"}}/article';
        var data = $thisForm.serialize();
        $.sdpost(url, data, function (re) {
            if (re.code === 0) {
                layer.msg(re.msg, {icon: 1, title: '成功', time: 1000}, function () {
                    window.location.reload();
                });
            } else {
                layer.alert(re.msg, {icon: 2, title: '失败'})
            }
        });
        return false;

    }
    //
    function commentOptions() {

        var $thisForm = $('#commentOptions');
        var url = '{{ urlfor "SystemController.Save"}}/comment';
        var data = $thisForm.serialize();
        $.sdpost(url, data, function (re) {
            if (re.code === 0) {
                layer.msg(re.msg, {icon: 1, title: '成功', time: 1000}, function () {
                    window.location.reload();
                });
            } else {
                layer.alert(re.msg, {icon: 2, title: '失败'})
            }
        });
        return false;

    }
    //
    function attachOptions() {

        var $thisForm = $('#attachOptions');
        var url = '{{ urlfor "SystemController.Save"}}/attach';
        var data = $thisForm.serialize();
        $.sdpost(url, data, function (re) {
            if (re.code === 0) {
                layer.msg(re.msg, {icon: 1, title: '成功', time: 1000}, function () {
                    window.location.reload();
                });
            } else {
                layer.alert(re.msg, {icon: 2, title: '失败'})
            }
        });
        return false;

    }
    //
    function adminOptions() {

        var $thisForm = $('#adminOptions');
        var url = '{{ urlfor "SystemController.Save"}}/admin';
        var data = $thisForm.serialize();
        $.sdpost(url, data, function (re) {
            if (re.code === 0) {
                layer.msg(re.msg, {icon: 1, title: '成功', time: 1000}, function () {
                    window.location.reload();
                });
            } else {
                layer.alert(re.msg, {icon: 2, title: '失败'})
            }
        });
        return false;

    }
    //
    function emailOptions() {

        var $thisForm = $('#emailOptions');
        var url = '{{ urlfor "SystemController.Save"}}/email';
        var data = $thisForm.serialize();
        $.sdpost(url, data, function (re) {
            if (re.code === 0) {
                layer.msg(re.msg, {icon: 1, title: '成功', time: 1000}, function () {
                    window.location.reload();
                });
            } else {
                layer.alert(re.msg, {icon: 2, title: '失败'})
            }
        });
        return false;

    }
    //
    function otherOptions() {

        var $thisForm = $('#otherOptions');
        var url = '{{ urlfor "SystemController.Save"}}/other';
        var data = $thisForm.serialize();
        $.sdpost(url, data, function (re) {
            if (re.code === 0) {
                layer.msg(re.msg, {icon: 1, title: '成功', time: 1000}, function () {
                    window.location.reload();
                });
            } else {
                layer.alert(re.msg, {icon: 2, title: '失败'})
            }
        });
        return false;

    }
</script>