<!-- 页面中使用的插件 -->
<link rel="stylesheet" href="/static/plugins/jquery-treetable/css/jquery.treetable.css">
<link rel="stylesheet" href="/static/plugins/jquery-treetable/css/jquery.treetable.theme.default.css">
<!-- EasyMDE所需 -->
<link rel="stylesheet" href="/static/plugins/easymde/easymde.min.css">
<link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<!-- x-editable插件 -->
<link href="/static/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/plugins/bootstrap-table/bootstrap-table.min.css">