<form method="post" class="form-horizontal" id="attachOptions">
    <div class="box-body">
        <div class="form-group">
            <label class="col-lg-2 col-sm-4 control-label">存储位置：</label>
            <div class="col-lg-4 col-sm-8 control-radio" >
                <div class="pretty p-default p-round" style="padding-top:7px">
                    <input type="radio" name="attach_loc" value="server">
                    <label>本地服务器</label>
                    <input type="radio" name="attach_loc" value="upyun">
                    <label>又拍云</label>
                    <input type="radio" name="attach_loc" value="qiniu" checked="">
                    <label>七牛云</label>
                </div>
            </div>
        </div>

        <!-- 原生设置 -->
        <div class="server-options" style="display: none">

        </div>

        <!-- 又拍云选项 -->
        <div class="upyun-options" style="display: none">
            <div class="form-group">
                <label for="upyunOssDomain"
                       class="col-lg-2 col-sm-4 control-label">域名绑定：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="upyunOssDomain"
                           name="upyun_oss_domain" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="upyunOssBucket"
                       class="col-lg-2 col-sm-4 control-label">空间名称：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="upyunOssBucket"
                           name="upyun_oss_bucket" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="upyunOssOperator"
                       class="col-lg-2 col-sm-4 control-label">操作员名称：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="upyunOssOperator"
                           name="upyun_oss_operator" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="upyunOssPwd" class="col-lg-2 col-sm-4 control-label">操作员密码：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="upyunOssPwd"
                           name="upyun_oss_pwd" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="upyunOssSrc" class="col-lg-2 col-sm-4 control-label">文件目录：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="upyunOssSrc"
                           name="upyun_oss_src" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="upyunOssSmall" class="col-lg-2 col-sm-4 control-label">处理策略:</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="upyunOssSmall"
                           name="upyun_oss_small" value="">
                </div>
            </div>
        </div>

        <!-- 七牛云 -->
        <div class="qiniu-options" style="">
            <div class="form-group">
                <label for="qiniuDomain" class="col-lg-2 col-sm-4 control-label">域名：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuDomain" name="qiniu_domain"
                           value="filedata.beijingfun.com.cn">
                </div>
            </div>
            <div class="form-group">
                <label for="qiniuAccessKey" class="col-lg-2 col-sm-4 control-label">Access
                    Key：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuAccessKey"
                           name="qiniu_access_key"
                           value="bc8umWiw71egrim4ueOSQ48DhX5pZLh-bFPHnD6m">
                </div>
            </div>
            <div class="form-group">
                <label for="qiniuSecretKey" class="col-lg-2 col-sm-4 control-label">Secret
                    Key：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuSecretKey"
                           name="qiniu_secret_key"
                           value="bnSe6RlJvclTxS27tcDtrYcgpTp1tMSWWHkPQgNK">
                </div>
            </div>
            <div class="form-group">
                <label for="qiniuBucket" class="col-lg-2 col-sm-4 control-label">Bucket：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuBucket" name="qiniu_bucket"
                           value="filedata">
                </div>
            </div>
            <div class="form-group">
                <label for="qiniuSmallUrl" class="col-lg-2 col-sm-4 control-label">处理策略：</label>
                <div class="col-lg-4 col-sm-8">
                    <input type="text" class="form-control" id="qiniuSamllUrl"
                           name="qiniu_small_url" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-primary btn-sm "
                onclick="saveOptions('attachOptions')">保存
        </button>
    </div>
</form>