<form method="post" class="form-horizontal" id="commonOptions">
    <div class="box-body">
        <div class="form-group">
            <label for="blogLocale" class="col-lg-2 col-sm-4 control-label">系统语言：</label>
            <div class="col-lg-4 col-sm-8">
                <select class="form-control" id="blogLocale" name="blog_locale">
                    <option value="zh_CN" selected=""></option>
                    <option value="en_US">English</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="blogTitle" class="col-lg-2 col-sm-4 control-label">博客标题：</label>
            <div class="col-lg-4 col-sm-8">
                <input type="text" class="form-control" id="blogTitle" name="blog_title"
                       value="{{.m.Name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="blogUrl" class="col-lg-2 col-sm-4 control-label">博客地址：</label>
            <div class="col-lg-4 col-sm-8">
                <input type="url" class="form-control" id="blogUrl" name="blog_url"
                       value="{{.m.Url}}">
            </div>
        </div>
        <div class="form-group">
            <label for="blogLogo" class="col-lg-2 col-sm-4 control-label">LOGO：</label>
            <div class="col-lg-4 col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control selectData" id="blogLogo"
                           name="blog_logo"
                           value="{{.m.Logo}}">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-flat" type="button"
                                onclick="halo.layerModal('/admin/attachments/select?id=blogLogo','所有附件')">选择</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="blogFavicon" class="col-lg-2 col-sm-4 control-label">Favicon：</label>
            <div class="col-lg-4 col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control selectData" id="blogFavicon"
                           name="blog_favicon"
                           value="{{.m.Favicon}}">
                    <span class="input-group-btn">
                                                    <button class="btn btn-default btn-flat" type="button"
                                                            onclick="halo.layerModal('/admin/attachments/select?id=blogFavicon','所有附件')">选择</button>
                                                </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="blogFooterInfo" class="col-lg-2 col-sm-4 control-label">页脚信息：
                <span data-toggle="tooltip" data-placement="top" title=""
                      style="cursor: pointer" data-original-title="支持HTML">
                                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                                            </span>
            </label>
            <div class="col-lg-4 col-sm-8">
                                        <textarea class="form-control" rows="5" id="blogFooterInfo"
                                                  name="blog_footer_info" style="resize: none">{{.m.Footer}}</textarea>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-primary btn-sm "
                onclick="saveOptions('commonOptions')">保存
        </button>
    </div>
</form>