<form method="post" class="form-horizontal" id="otherOptions">
    <div class="box-body">
        <div class="form-group">
            <label class="col-lg-2 col-sm-4 control-label">API 服务：</label>
            <div class="col-lg-4 col-sm-8 control-radio">
                <div class="pretty p-default p-round" style="padding-top:7px">
                    <input type="radio" name="api_status" value="true" {{if .m.Isaip}}checked=""{{end}}>
                    <label>启用</label>
                    <input type="radio" name="api_status" value="false" {{if .m.Isaip}}checked=""{{end}}>
                    <label>禁用</label>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="apiToken" class="col-lg-2 col-sm-4 control-label">Api Token：</label>
            <div class="col-lg-4 col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="apiToken" name="api_token"
                           value="{{.m.Token}}">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-flat" id="btnUpdateToken"
                                onclick="updateToken()" type="button">刷新</button>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-primary btn-sm "
                onclick="saveOptions('otherOptions')">保存
        </button>
    </div>
</form>