<section class="content-header">
    <h1>
        附件管理
        <small>
            <a class="btn-header" id="showForm" href="javascript:void(0)">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>上传
            </a>
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "HomeController.Index"}}">
                <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">附件管理</li>
    </ol>
</section>
<section class="content container-fluid">
    <!-- 文件上传面板 -->
    <div class="row" id="uploadForm" style="display: none;">
        <div class="col-md-12">
            <form enctype="multipart/form-data">
                <div class="file-loading">
                    <input id="uploadImg" name="fileImageUrl" type="file" multiple>
                </div>
            </form>
        </div>
    </div>
    <!-- 文件显示面板 -->
    <div id="wrapper">
        <section>
            <div class="data-container"></div>
            <div id="pagination"></div>
        </section>
    </div>
</section>