<!-- bootstrap-fileinput插件 -->
<script src="/static/plugins/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/static/plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
<!-- 前台分页插件 -->
<script src="/static/plugins/pagination/pagination.js"></script>
<script>
    var sendUrl =
    $(function () {
        var positaion = {{ urlfor "AttachController.UploadFile" }};
        pageInit();
    })
    function pageInit() {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
        //验证
        validateInfo();
    }
    //初始化上传面板
    $('#uploadImg').fileinput({
        language: 'zh',
        uploadUrl: '{{ .sendUrl}}',
        uploadAsync: true,
        allowedFileExtensions: ['jpg', 'gif', 'png', 'jpeg', 'svg', 'psd'],
        maxFileCount: 100,
        enctype: 'multipart/form-data',
        autoOrientImage: false,
        showClose: false,
        multiple: true,
        uploadExtraData: {
            'uploadToken': 'SOME-TOKEN', // for access control / security
        },
    }).on('filebatchuploadcomplete',
        function (event, preview, config, tags, extraData) {
        //$('#uploadImg').fileinput.clean()
        $(".fileinput-remove-button").click();
        $("#uploadForm").hide(400)
        window.location.reload();
        //console.log('File Batch Uploaded', preview, config, tags, extraData)
    });
    //点击向下弹出上传面板
    $("#showForm").click(function () {
        //$('#uploadImg').fileinput.clean()
        $("#uploadForm").slideToggle(400)
    });
    //一次性取出json文件，然后分页显示
    $(function () {
        (function (name) {
            var container = $('#pagination');
            var options = {
                dataSource: {{ .json.rows}},
                pageSize: 12,
                hideWhenLessThanOnePage: true,
                className: 'paginationjs-theme-silvery paginationjs-small',
                callback: function (response, pagination) {
                    var dataHtml = '<div class="row" style="margin-top: 10px">';
                    $.each(response, function (index, item) {
                        dataHtml += '<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 div-thumbnail">' +
                            '<a href="javascript:void(0)" class="thumbnail"><img src="/' + item.Thumbnail
                            + '" class="img-responsive"></li></a></div>';
                    });
                    dataHtml += '</div>';
                    container.prev().html(dataHtml);
                }
            };
            container.pagination(options);
        })('pagination');
    })
</script>